@charset "utf-8";
/* CSS Document */

/* -------------- IMAGES -------------- */

#preview, #preview-2{
	height: 150px;
	width: 125px;
}

/* -------------- TEXT -------------- */

#total{
	margin-right: 10px;
	font-size: 27px;
	color: #6a6a6a;
	margin-left: 85px;
}

#data-field{
	text-align: center;
}

#preview_tile, #description_tile, #quantity_tile, #unit_price_tile, #total_price_tile, #delete_tile{
	text-align: center;
}

#table_title{
	font-size: 30px;
	font-style: italic;
	color: #09F;
	margin-left: 20px;
}

#keep_buying{
	text-align: center;
	vertical-align: middle;
}

/* -------------- TABLE -------------- */

table{
	text-align: center;
}




