@charset "utf-8";
/* CSS Document */

/* -------------- IMAGES -------------- */

#preview, #preview-2{
	height: 150px;
	width: 125px;
}

/* -------------- TEXT -------------- */

#total{
	margin-right: 10px;
	font-size: 27px;
	color: #6a6a6a;
	margin-left: 85px;
}

#data-field{
	text-align: center;
}

#preview_tile, #description_tile, #quantity_tile, #unit_price_tile, #total_price_tile, #delete_tile{
	text-align: center;
}

#table-title{
	font-size: 25px;
	font-style: italic
}

/* -------------- TABLE -------------- */

table{
	text-align: center;
}




