@charset "utf-8";
/* CSS Document */


/* -------------- TEXT -------------- */

#contact-title {
	margin-left: 30px;	
	padding: 10px 0px 40px 10px;

	color: #000;
	font-size: 26px;
	font-weight: bold;
	text-decoration: underline;
}

#location-title {
	padding: 0px 0px 40px;

	color: #000;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

/* -------------- BUTTONS -------------- */

.send-button {
	margin: 20px 0px;
	float: right;
}


/* -------------- OTHER -------------- */


#contact-form {
	height: 440px;
}

#about-us {
	height: 500px;
	border-radius: 15px;
}

#contact-form {
	margin-top: 20px;
	padding: 0px 30px 30px;
	border-radius: 15px;
	border: 2px dotted #09C;
	background-color: #EEE;
}

.input-name {
	margin: 20px 0px 10px;
	
	font-size: 14px;
	font-weight: bold;
}

.obligatory {
	color: #C00;
}

#about-us {
	margin-left: 60px;
	padding: 20px;
	border: 2px dotted #09C;
	border: 2px solid #000;
	background-color: #EEE;
}

#map-canvas {
	margin: auto;
	width: 340px;
	height: 300px;
}

#about-us-data {
	margin-top: 35px;
	margin-left: 20px;
	
	font-size: 12px;
}

#frame {
	border: 0px;
	width: 300px;
	height: 320px;
}
