@charset "utf-8";
/* CSS Document */


/* -------------- BUTTONS -------------- */

.button-group{
	padding: 6px 0px 6px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
	font-size: 25px;
}

#men_button{
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#women_button{
	border-radius: 0px;
}

#kids_button{
	border-radius: 0px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

/* -------------- SLIDERS -------------- */


#slider-promotions, #slider-new{
	margin-top: 30px;
	margin-bottom: 50px;
	height: 350px;
	width: 500px;
}
