@charset "utf-8";
/* CSS Document */
/* --- Product Imgs and description --- */

.prod-title{
	font-size:24px; 
	font-weight:bold;
}
.description {
	text-align:center;
	margin: 0 auto; 
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;

}
#tiles{
	float: right;
	margin-top: 30px;
	margin-left: 15%;
	width: 86px;
}
.tile{
	float: left;
	border: 3px solid #666;
	margin-bottom: 2px;	
}

#carousel-product{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 250px;
}
.carousel-caption{
	color: black;
}

/* --- Product specifications --- */

select{
	text-align: center;
}

#product-specifications{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;	
	color: #09F;
	margin-left: -20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.title{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 20px;
	margin-left: -20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

#product-specifications select{
	font-size:14px;
	font-weight:100;
}
#color-input{
	margin-left: -43px;
}

#color-input input{
	margin-left: 50px;
}

.color{
	margin-left: 40px;
}
.glyphicon-add{
	float:left;
	margin: 4px 10px 0px;
}

#addToWishlist{
	display: block;
	margin-top: 20px;
	padding-top:13px;
	font-size:14px;
	width:300px;
	height:50px;
	background-color: #E294EC;
	color: #FFF;
}


#addToCart{
	display: block;
	margin-top: 20px;
	padding-top:13px;
	font-size:14px;
	width:300px;
	background-color: #91D2E6;
	color: #FFF;
	height:50px;
	border: 0px;
	border-color: #FFF;
}


#add-to-cart {
	margin-top: 60px;	
}


#product-specifications a:hover {
	text-decoration: none;
}

#product-buttons {
	margin-left: 90px;
}

#prod_price{
	font-size: 30px;
	color: #09F;
}

/* --- Sugestions --- */

#sugestions{
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	border-left:3px solid #666;
}

.sugestion{
	margin-top: 30px;
	text-align:center;
	font-size:14px;	
}

.sugestion img{
	margin-bottom: 10px;
	border: 3px solid #666;
}

.sugestion img:hover{
	border: 3px solid black;
}

#sugestions a:link, #sugestions a:visited, #sugestions a:active,
.sugestion a:link, .sugestion a:visited, .sugestion a:active {
	text-decoration: none;
	color: #333;
}

#sugestions a:hover,
.sugestion a:hover {
	text-decoration: none;
	color: #000;
}

.sugestion .price {
	font-weight: normal;	
}

.sugestion .name {
	font-weight: bold;
}

